.projects-list h2 {
  font-size: 1.5rem;
}

.projects-list-loading {
  text-align: center;
}

.ball-scale-ripple-multiple {
  top: 2rem;
  left: 50%;
}
.ball-scale-ripple-multiple > div {
  border-color: orange;
}

canvas {
  width: 100%;
  height: 400px;
  margin-top: 2rem;
}
